body{
	width: 964px;
	background-color: white;
	margin: 15px auto;
	border:3px solid red;
}
header{
	border-bottom: 2px solid #ef9c00 ;
	background-color: black;
}

@font-face { font-family: m; src: url('m.TTF'); } 
h2{}
main{
	width: 959px;
	float: left;
	background-color: black;
	height:350px;
}
footer{
	clear:both;
	border-top:2px solid #ef9c00;
	background-color: black;
	margin-bottom: 0;

}
@font-face { font-family: b; src: url('b.TTF'); } 
table{
	width: 959px;
	height: 350px;
	border-color: yellow;
	color: yellow;
	font-family: b;
	letter-spacing: 2px;
	font-style: 15px;
}
