body{
	width: 90%;			/*changed from 960px*/
	max-width: 1024px;  /*maximum width of page*/
	margin: 0 auto;
	border:2px solid black;

}
header{
	width: 96.875%;		/*930 + 960 x 100*/
	padding: 15px 1.5625%;		/*15 + 960 x 100*/
	border-bottom: 2px solid black ;
}
main{
	width: 59.375%;		/*570 + 960 x 100*/
	padding: 15px 1.5625%;		/*15 + 960 x 100*/
	float: left;
}

aside{
	width: 34.375%;		/*300 + 960 x 100*/
	float: left;
	padding: 15px 1.5625%;	/*15 + 960 x 100*/
}



footer{
	clear:both;
	width: 96.875%;		/*930 + 960 x 100*/
	padding: 15px 1.5625%;		/*15 + 960 x 100*/
	border-top:2px solid black;
}